{% extends 'base.html.twig' %}

{% block title %} Moje Rezerwacje {% endblock %}

{% block body %}
    <h1>Moje Rezerwacje</h1>

    {% if reservations is empty %}
        <p class="alert alert-warning">Nie masz żadnych rezerwacji.</p>
    {% else %}
        <ul>
            {% for reservation in reservations %}
                <li>
                    {{ reservation.car.brand }} {{ reservation.car.model }} -
                    {{ reservation.startDate|date('d.m.Y') }} do {{ reservation.endDate|date('d.m.Y') }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
