{% extends 'base.html.twig' %}
{% block title %}Logowanie{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card p-4">
                <h4 class="mb-3 text-center">Witaj ponownie 👋</h4>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">E-mail</label>
                        <input type="email" name="_username" value="{{ last_username }}" class="form-control" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Hasło</label>
                        <input type="password" name="_password" class="form-control" required>
                    </div>
                    <button class="btn btn-primary w-100">Zaloguj</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
