{% extends 'base.html.twig' %}

{% block title %}Moje Konto{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Moje Konto</h1>

        <div class="card mt-4">
            <div class="card-body">
                <p><strong>Imię i nazwisko:</strong> {{ user.fullName }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Rola:</strong> {{ user.roles|join(', ') }}</p>

                <a href="{{ path('app_user_edit') }}" class="btn btn-primary">Edytuj profil</a>
            </div>
        </div>
    </div>
{% endblock %}
